<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Random Test Data</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
    body { 
    	text-align: center;
    	font-family: sans-serif 
    }
    </style>    
</head>
<body>
    <h1>Random Test Person</h1>
    <p th:text="${givenName} + ' ' + ${familyName}" />
    <p th:text="${streetAddress} + ' ' + ${houseNumber}" />
    <p th:text="${postalCode} + ' ' + ${addressLocality}" />
    <p th:text="${birthDate}" />
    <p th:text="${email}" />
    <p th:text="${mobile}" />
    <p th:text="${landline}" />
    <p><a href="/swagger-ui/">Swagger UI</a> - <a href="https://github.com/datengaertnerei/test-data-service">GitHub Repo</a></p>
    
</body>
</html>