<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p th:text="${givenName} + ' ' + ${familyName}" />
    <p th:text="${streetAddress} + ' ' + ${houseNumber}" />
    <p th:text="${postalCode} + ' ' + ${addressLocality}" />
    <p th:text="${gender} + ' - ' + ${birthDate}" />
    <p th:text="${email}" />
    <p th:text="${mobile}" />
    <p th:text="${landline}" />
</body>
</html>