name: update-data

concurrency: dev-build

on:
  workflow_dispatch
  #schedule:
    # * is a special character in YAML so you have to quote this string
    #- cron:  '30 2 10 3,6,9,12 *'
    
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5c7944e73c4c2a096b17a9cb74d65b6c2bbafbde
        with:
          disable-sudo: true
          egress-policy: audit #outbound hosts constantly subject to change by action providers

      - uses: actions/checkout@9a9194f87191a7e9055e3e9b95b8cfb13023bb08

      - name: Set up Python 
        uses: actions/setup-python@036a5236741fd24c89eea80d1b76179e8e5f9214
        with:
          python-version: 3.x
          
      - name: Fetch data
        run: |
          git checkout -B update-data
          cd src/tools
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
          python blz_fetcher.py
          wc -l banklist.csv
          if [[ $(wc -l < banklist.csv) -ge 100 ]];then  
            mv banklist.csv ../main/resources/com/datengaertnerei/test/dataservice/bank
            git config --global user.email "jens.dibbern@gmail.com"
            git config --global user.name "datengaertnerei"
            git commit -m "Action commit: new bank data" ../main/resources/com/datengaertnerei/test/dataservice/bank
            git push --set-upstream origin update-data
          fi
        env:        
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # Create pull request - must run with a different GH token to allow merge check action trigger
      - name: Create pull request to dev
        id: cpr_dev
        run: gh pr create --base $BASE --head $HEAD --title "$TITLE" --body "$BODY"
        env:
          GITHUB_TOKEN: ${{ secrets.REL_SECRET }}
          HEAD: update-data
          BASE: develop
          TITLE: "Merge updated data to dev"
          BODY: ":crown: *An automated PR*"
